<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="checkbox" v-model="myCheck">
    <p>チェックボックスは、{{myCheck}}</p>
    <br>
    <textarea v-model="myText"></textarea>
    <p>{{myText}}</p>
    <p>{{myText.length}}字</p>
    <br>
    <select v-model="myColor">
      <option>red</option>
      <option>green</option>
      <option>blue</option>
    </select>
    <p v-bind:style="{color:myColor}">あなたが選んだのは、{{myColor}}です</p>
    <br>
    
  </div>

  <script>
    new Vue ({
      el: "#app",
      data: {
        myCheck:'チェックされていません',
        myText: '',
        myColor:''
      }
    })
  </script>
</body>
</html>